<mat-toolbar class="topbar">
  <div class="brand">
    <span>League of Legends</span>
    <h1>MPP Esport</h1>
  </div>
  @if (user) {
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" [attr.aria-label]="'nav.label' | translate">
      @for (tab of tabs; track tab.value) {
        <button mat-tab-link type="button" [active]="activeTab === tab.value" (click)="tabChange.emit(tab.value)">
          {{ tab.label | translate }}
        </button>
      }
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    <div class="account">
      <button
        class="profile-bubble"
        type="button"
        [class.active]="activeTab === 'profile' || activeTab === 'preferences'"
        [attr.aria-label]="'nav.profile' | translate"
        [attr.title]="user.displayName"
        [matMenuTriggerFor]="profileMenu"
      >
        @if (user.avatarUrl) {
          <img [src]="user.avatarUrl" alt="" />
        } @else {
          {{ profileInitial }}
        }
      </button>
      <mat-menu #profileMenu="matMenu" xPosition="before">
        <button mat-menu-item type="button" (click)="tabChange.emit('profile')">{{ 'nav.profile' | translate }}</button>
        <button mat-menu-item type="button" (click)="tabChange.emit('preferences')">
          {{ 'nav.preferences' | translate }}
        </button>
        <button mat-menu-item type="button" (click)="logout.emit()">{{ 'nav.logout' | translate }}</button>
      </mat-menu>
    </div>
  }
  <mat-select
    class="language-select"
    [value]="i18n.language()"
    (valueChange)="setLanguage($event)"
    aria-label="Language"
  >
    @for (language of languages; track language) {
      <mat-option [value]="language">{{ 'language.' + language | translate }}</mat-option>
    }
  </mat-select>
</mat-toolbar>
